<app-cabecalho></app-cabecalho>
<div class="container text-center">
  <div class="row">
    <select class="form-select mb-3" aria-label="Filtrar por tipo de tarefa:">
      <option selected>Todos</option>
      <option value="atendimento">Atendimento</option>
      <option value="correcoes">Correções</option>
      <option value="evolucoes">Evoluções e Novos Projetos</option>
      <option value="desenvolvimento">Desenvolvimento</option>
    </select>
    <div
      *ngFor="let status of statuses"
      class="col-lg-3 col-md-3 col-12 border rounded p-2"
    >
      <p class="h4 mt-2 mb-4">{{ status }} ({{ obterTarefasPorStatus(status).length }})</p>
      <div class="row g-3">
        <app-cartao
          *ngFor="let tarefa of obterTarefasPorStatus(status)"
          [id]="tarefa.id"
          [titulo]="tarefa.title"
          [dataCriacao]="tarefa.created_on"
          [autor]="tarefa.author"
          [tipo]="tarefa.type"
        >
        </app-cartao>
      </div>
    </div>
  </div>
</div>
<app-rodape></app-rodape>
