.kanban-board {
    display: flex;
    overflow-x: auto;
}

.kanban-column {
    overflow-y: auto;
    max-height: calc(80vh - 50px);
    min-height: calc(80vh - 50px);
}

.kanban-column-title {
    color: #1c1c1c;
    font-weight: 600;
    font-size: 18px;
}