.container-cabecalho {
    background-color: #9c0000;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #ce3129 !important;
}

.active {
    background-color: #fff !important;
    color: #9c0000 !important;
    border: none;
}

.active:hover {
    background-color: #ce3129 !important;
    color: #fff !important;
}

.fa-icon {
    color: #9c0000;
}