.container-cabecalho {
    background-color: #9c0000;
}

.dropdown-menu {
    max-height: 400px;
    overflow-y: scroll;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #ce3129 !important;
}

.active {
    background-color: #fff !important;
    color: #9c0000 !important;
    border: none;
}

.active:hover {
    background-color: #ce3129 !important;
    color: #fff !important;
}

.fa-icon {
    color: #9c0000;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: rgb(255, 255, 255, 0.25);
}

.navbar-toggler:focus {
    box-shadow: none;
}