<div class="container-fluid container-rodape px-5">
    <footer class="d-flex flex-wrap align-items-center py-4 mt-3">
        <!-- Estrutura para telas menores que 'md' -->
        <div class="d-md-none text-center w-100">
            <img src="assets/imagens/redmine_icon.png"
                class="align-items-center justify-content-center mb-3 link-body-emphasis text-decoration-none"
                alt="Redmine" width="30">
            <p class="mb-2 text-white">Gerência de Sistemas Corporativos &copy; {{ ano }}</p>
            <p class="mb-2 text-white">Companhia Pernambucana de Saneamento (Compesa)</p>
        </div>

        <!-- Estrutura para telas 'md' ou maiores -->
        <div class="d-none d-md-flex justify-content-between w-100">
            <p class="col-md-4 mb-0 text-white">Gerência de Sistemas Corporativos &copy; {{ ano }}</p>
            <img src="assets/imagens/redmine_icon.png"
                class="align-items-center justify-content-center mb-2 link-body-emphasis text-decoration-none"
                alt="Redmine" width="30">
            <p class="col-md-4 mb-0 text-white text-end">Companhia Pernambucana de Saneamento (Compesa)</p>
        </div>
    </footer>
</div>